:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: rgba(0, 0, 0, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #ff6464;
    text-decoration: inherit;
}
a:hover {
    color: #000000;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.5em;
    line-height: 1.1;
    color: #000;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #ffffff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.backbuttons {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 2px;
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.nextbuttons {
    border-radius: 12px;
    border: 1px solid transparent;
    padding: 2px;
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #24940e;
    cursor: pointer;
    transition: border-color 0.25s;
}

.addbuttons {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 2px;
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #f70707;
    cursor: pointer;
    transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #262723;
    }
    button {
        background-color: #ee1818;
    }
}
